<h1>Demo#hello</h1>
<p> hello  from hello!</p>

<%= 1+1 %>
<br/>

<% target = "onrals" %>
<%= "ruby #{target}" %> 
<br/>
<% @array.each do |n| %>
<%= n %>
<% end %>

<br/>

<a href="/demo/index"> Index page 1</a><br/>
<%= link_to('Index page 2', {:action => 'index'}) %>